//Header
.main-logo {
  height: 3.5rem;
}

.main-logo img {
  height: 100%;
  padding: 0 1rem;
}

.nav-link {
  padding-right: 30px;
  font-size: 0.8rem;
}

.nav-link:hover,
.nav-link .active {
  text-decoration: underline;
}

.navbar {
  box-shadow: 4px 0px 8px $gray-400;
}

// To give spacing under the header
.first-container {
  margin-top: 4.5rem;
}
