<div class="container first-container pt-5">
    <h1 class="">News</h1>
    <div class="row mt-5">
        {{#each newsItems}}
        <div class="col-sm-12 col-lg-6">
            <a class="news-card-link" href="/news/{{this.slug}}">
                <div class="card news-card mb-5">
                    <div class="news-card-image-wrapper">
                        <img class="" alt="Card image cap" src="/images/news/{{ this.featureImage }}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class=" news-card-date card-title">{{ this.dateFormatted }}</p>

                        <h4 class="card-title">{{ this.title }}</h4>
                    </div>
                </div>
            </a>
        </div>





        {{/each}}
    </div>
</div>