// Article

.article-date {
  color: $gray-600;
  font-size: 0.7rem;
  font-weight: 600;
}

.featureImage {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.featureImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
