@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: rgb(73, 80, 87);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', sans-serif;
}
